.add-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 150px;
  margin-left: 25px;
  background-color: white;
  align-items: flex-end;
  position: absolute;
}

input {
  width: 300px;
  padding: 6px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px gray;
  outline: none;
}

select {
  width: 150px;
  height: 25px;
}

.class1 {
  color: rgb(7, 112, 7);
  background-color: rgb(193, 252, 188);
}

.class2 {
  color: red; 
  background-color: rgb(253, 215, 215);
}