.nav{
  background-color: white;
  margin-top: 0;
  margin-bottom: 0px;
  height: 90px;
  box-shadow: 0 0 25px 0 black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav img {
  width: 200px;
  padding-right: 50px;
}

.item-one {
  text-decoration: none;
  position: fixed;
  margin-left: 250px;
}

.item-two {
  text-decoration: none;
  position: fixed;
  margin-left: 450px;
}

.item-one:link {
  color: black;
}

.item-one:visited {
  color: black;
}

.item-one:hover {
  color:  #8221b3;
  text-decoration: none;
  cursor: pointer;
}

.item-two:link {
  color: black;
}

.item-two:visited {
  color: black;
}

.item-two:hover {
  color:  #8221b3;
  text-decoration: none;
  cursor: pointer;
}







