@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
.navbar {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0px;
  height: 90px;
  width: 100%;
  box-shadow: 0 0 25px 0 black;
  display: flex;
  flex-direction: row;
  flex-shrink: 2;
  align-items: center;
  position: fixed;
  z-index: -1;
}

.navbar img {
  width: 250px;
}

.nav {
  width: 100vw;
  display: flex;
  flex-shrink: 2;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-toggle {
  display: none
}

.nav-item {
  display: flex;
  position: center;
  align-items: center;
  flex-shrink: 2;
  margin: 0;
  font-size: 20px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.nav-item:link {
  color: black;
}

.nav-item:visited {
  color: black;
}

.nav-item:hover {
  color: #8221b3;
  cursor: pointer;
  text-decoration: none;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 2;
}

.fb-logout-btn {
  width: 175px;
  height: 70px;
  right: 0;
  top: 0;
  margin-top: 10px;
}

.fb-profile-pic {
  max-width: 50%;
  border-radius: 50%;
  float: right;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav-toggle:hover {
    color: #8221b3;
  }

  .nav-item {
    margin-top: 91px;
    display: none;
  }

  .btn-box {
    justify-content: left;
    display: none;
  }

}








