.card {
  width: fit-content;
  border-style: solid;
  border-width: 1px;
  background-color:white;
  margin: 25px;
  padding: 20px;
  width: 280px;
  /* box-shadow: 15px 10px 0px 0px black; */
}

.logo {
  width: 100%;
}

.title, .type {
  font-family: 'Nunito', sans-serif;
  display: block;
}

.bed {
  margin-right: 5px;
}

.bath {
  margin-right: 5px;
}

.pound {
  margin-right: 5px;
}

.mail {
  margin-right: 5px;
}





